.button-component-container {
  width: 600px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.button-component-container1 {
  flex: 0 0 auto;
  width: 500px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.button-component-image {
  width: 75px;
  height: 50px;
  object-fit: cover;
  border-color: #2ee6fb;
  border-width: 1px;
  border-top-left-radius: var(--dl-radius-radius-radius2);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-radius-radius-radius2);
  border-bottom-right-radius: 0;
}
.button-component-button {
  color: #000000;
  width: 600px;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #2ee6fb;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button-component-text {
  width: 400px;
  font-size: 12px;
  align-self: center;
  margin-top: 0px;
}
.button-component-root-class-name {
  width: 500px;
  height: 50px;
  align-self: flex-start;
  margin-bottom: 0px;
}
.button-component-root-class-name1 {
  width: 500px;
  height: 50px;
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.button-component-root-class-name2 {
  width: 500px;
  height: 50px;
  align-self: flex-start;
}
.button-component-root-class-name3 {
  width: 500px;
  height: 50px;
  align-self: center;
  margin-bottom: 0px;
}
.button-component-root-class-name4 {
  width: 500px;
  height: 50px;
  align-self: center;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.button-component-root-class-name5 {
  width: 500px;
  height: 50px;
  align-self: center;
}
.button-component-root-class-name6 {
  width: 500px;
  height: 50px;
  align-self: center;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.button-component-root-class-name7 {
  width: 500px;
  height: 50px;
  align-self: center;
}
.button-component-root-class-name8 {
  width: 500px;
  height: 50px;
  align-self: center;
  margin-bottom: 0px;
}
.button-component-root-class-name9 {
  width: 500px;
  height: 50px;
  align-self: center;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.button-component-root-class-name10 {
  width: 500px;
  height: 50px;
  align-self: center;
}
.button-component-root-class-name11 {
  width: 500px;
  height: 50px;
  align-self: center;
  margin-bottom: 0px;
}
.button-component-root-class-name12 {
  width: 500px;
  height: 50px;
  align-self: center;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.button-component-root-class-name13 {
  width: 500px;
  height: 50px;
  align-self: center;
}
